<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy Checker</title>
</head>
<body>
    <h1>Proxy Checker</h1>
    
    <form action="/" method="post">
        <label for="proxyList">Proxy List (Hostname:Port per line):</label>
        <textarea id="proxyList" name="proxyList" rows="4" required></textarea><br>

        <label for="socksUsername">Socks Username:</label>
        <input type="text" id="socksUsername" value="G1emUVl36Ed4" name="socksUsername" required><br>

        <label for="socksPassword">Socks Password:</label>
        <input type="password" id="socksPassword" value="Pq6PT1LY" name="socksPassword" required><br>

        <button type="submit">Check Proxies</button>
    </form>

    <% if (results) { %>
        <h2>Results:</h2>
        <ul>
            <% results.forEach(result => { %>
                <li><%= result.proxy.hostname + ':' + result.proxy.port %> - <%= result.result %></li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>
